<h1>{{title}}</h1>


<hr />


<h2>String Interpolation</h2>
<h2>{{'Hola Mundo H2 '.repeat(3)}}</h2>
<p>3 + 3 = {{3+3}}</p>
<br />

<div class='background-red'>
  <h3>Hola! soy {{name}} {{lastName}} y tengo {{age}}</h3>
  <img src={{img}} alt="imagen avatar" />
  <p>Haz click <a href={{link}} target="_blank">AQUI</a></p>
</div>
<br />


<hr />


<h2>Property [Binding]</h2>
<p>es la manera que dispone Angular para controlar y modificar las propiedades de los distintos elementos de HTML. Para
  esto, simplemente utiliza los corchetes [] para poder modificar dinámicamente ese atributo desde el controlador.</p>

<h3>Utilidades</h3>
<p>El atributo src de la etiqueta `img` para modificar dinámicamente una imagen.</p>
<p>El atributo href de un `a` para modificar un enlace.</p>
<p>El atributo value de un `input` para autocompletar un valor de un formulario.</p>
<p>El atributo disable de un `input` para habilitar/deshabilitar un campo de un formulario.</p>
<br />


<button [disabled]="btnDisabled">ENVIAR</button>
<br />
<input type="text" [value]="person.name" />
<br />
<progress max="50" [value]="person.age"></progress>
<br />
<img class="img-small" [src]="person.avatar" />
<br />


<hr />


<h2>Event [Binding]</h2>
<p>A lo igual que el Property Binding nos permite modificar el valor de los atributos de los elementos HTML desde el
  controlador, el Event Binding permite controlar los eventos que suceden en estos elementos. El clic de un botón,
  detectar cambios en un campo, el envío de un formulario, entre otros eventos. Para esto utiliza los paréntesis () para
  el bindeo de la propiedad del elemento.
</p>
<br />


<button [disabled]="btnDisabled">ENVIAR</button>
<br />
<button (click)="toggleButton()">Cambiar</button>
<br />

<button (click)="decreaseAge()">-</button>
<a>Edad: {{person.age}}</a>
<button (click)="increaseAge()">+</button>
<br />


<hr />


<h2>Otros eventos que puedes escuchar</h2>
<p>Además del evento clic, seguramente el más utilizado, hay otros eventos como el change para detectar cambios en un
  campo de formulario, el evento scroll para detectar el desplazamiento horizontal/vertical del usuario en el navegador,
  onKeyUp o onKeyDown para detectar cuando el usuario aprieta o deja de apretar un botón de su teclado.

  La importancia del Event Binding en Angular está dada por la posibilidad de comunicar el componente y la vista, el
  código TS con el código HTML, intercambiando datos entre ellos.

  Puedes enviarle al controlador el evento completo que se produce en la vista. Para esto, solo declara un parámetro
  $event en el método que se encuentra escuchando el evento.
</p>
<br />

<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet incidunt magnam ad, voluptatibus ducimus
    repudiandae qui quaerat officia illum? Quae soluta doloribus nulla velit officiis quaerat aspernatur nihil?
    Corrupti.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet incidunt magnam ad, voluptatibus ducimus
    repudiandae qui quaerat officia illum? Quae soluta doloribus nulla velit officiis quaerat aspernatur nihil?
    Corrupti.
  </p>
</div>
<br />

<p>Nombre: {{person.name}}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)">
<br />


<hr />


<h2>Data binding con @ngModel (ANGULAR FORMS)</h2>
<p>El atributo ngModel permite el intercambio de datos de forma bidireccional entre el componente y la vista. Lo que
  suceda en el componente, se verá reflejado en la vista. Lo que se suceda en la vista, inmediatamente impactará en el
  componente.
</p>
<p>input [(ngModel)]="name"</p>
<p>ngModel usar tanto los corchetes [] como los paréntesis (). De esta manera, se vuelve bidireccional el intercambio de
  datos. Si no quieres la bidirección, solo colocamos los corchetes [ngModel] para que la comunicación sea
  unidireccional.Para utilizar ngModel, es necesario hacer uso e importar Angular Forms. Para esto, dirígete al archivo
  app.module.ts que es el módulo principal de toda aplicación Angular y agrega lo siguiente:
</p>
<!-- <p>
  import { FormsModule } from '@angular/forms';
  @NgModule({
  declarations: [ ... ],
  imports: [
  FormsModule
  ],
  providers: [],
  bootstrap: [ ... ]
  })
  export class AppModule {}
</p> -->
<p>De esta manera puedes importar el módulo FormsModule desde @angular/forms y agregarlo a imports para emplear la
  propiedad [(ngModel)].
</p>
<br />

<p>Nombre: {{person.name}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name">
<p>Valid: {{nameInput.valid}}</p>
<br />

<p>Age: {{person.age}}</p>
<input type="number" min="10" max="50" required #ageInput="ngModel" [(ngModel)]="person.age">
<p>Valid: {{ageInput.valid}}</p>
<br />


<hr />


<h2>Uso de *ngIf</h2>
<p>
  El condicional “If” es un “If” en Javascript, en Java, en PHP, en Python o en cualquier lenguaje. Angular posibilita
  utilizar este condicionante embebido en el HTML para mostrar o no un elemento. Su sintaxis es algo particular, está
  compuesta por un asterisco seguido de las iniciales características de Angular “ng” y la palabra “If”.
</p>
<!-- <div *ngIf="isPlatzi">Hola, soy Platzi</div> -->
<p>Si la condición dentro del “If” se cumple, se mostrará el "div" con el respectivo contenido dentro. De lo contrario,
  el usuario no verá dicho elemento en el navegador. En la condición del If puedes colocar cualquier operador lógico:
</p>
<p>
  AND(&&), OR(||), MAYOR(>), MENOR(<), IGUAL(==), DISTINTO(!=), MAYOR/IGUAL(>=), MENOR/IGUAL(<=) </p>
      <h2>
        If … else
      </h2>
      <p>
        Para usar un else en Angular, la sintaxis es algo especial. Debes crear un template en tu código HTML usando la
        etiqueta que provee Angular llamada "ng-template" con una Variable de Template, comenzando con #, para hacer
        referencia a este elemento desde tu If.
      </p>
      <!-- <div *ngIf="isPlatzi; else templateElse">Hola, soy Platzi</div>
      <ng-template #templateElse>
        <div>No soy Platzi</div>
      </ng-template> -->
      <p>
        Si la condición del If no se cumple, seguido de punto y coma, se coloca la sentencia else haciendo referencia a
        templateElse, que es el nombre de la variable del template a mostrar en su lugar.
      </p>
      <br />


      <input type="text" required [(ngModel)]="person.name">
      <p *ngIf="person.name === 'gaston'">Tú eres {{person.name}} y tienes {{person.age}}</p>
      <p *ngIf="person.name != 'gaston' && person.age > 20; else myBlock">Tú no eres el elegido</p>
      <ng-template #myBlock>
        <p>Bloque de ELSE</p>
      </ng-template>


      <hr />


      <h2>Uso de *ngFor</h2>
      <p>Al igual que con un If, Angular permite iterar un array de números, de cadenas de caracteres o de objetos
        usando “*ngFor”.Si tienes en tu componente un array de datos:</p>
      <!-- @Component({
        selector: 'app-root',
        templateUrl: './app.component.html',
        styleUrls: ['./app.component.scss']
      })
      export class AppComponent {
        myArray: string[] = [
          'Platzi',
          'es',
          'genial!'
        ];
      } -->
      <p>Puedes mostrar cada elemento iterando el array en un elemento HTML:</p>
      <!-- <ul>
        <li *ngFor="let str of myArray">
            {{ str }}
        </li>
    </ul> -->
      <p>El *ngFor crea una variable temporal llamada str (o el nombre que más te guste) que contiene cada valor de
        myArray. Finalmente, utilizando una interpolación, muestras el valor de str.Quedando tu HTML de la siguiente
        manera:</p>
      <!-- <ul><li>Platzi</li><li>es</li><li>genial!</li></ul> -->
      <h2>Índice de iteración</h2>
      <p>ngFor también cuenta con un índice con el número de iteraciones. Puedes acceder a este número agregando al
        ngFor index as i de la siguiente manera:</p>
      <!-- <ul>
        <li *ngFor="let str of myArray; index as i">
          {{ i }}. {{ str }}
        </li>
      </ul> -->
      <p>
        Cada iteración contiene una variable i con el índice que le corresponde. Iniciando desde cero, da como
        resultado:</p>
      <!-- <ul>
        <li>0. Platzi</li>
        <li>1. es</li>
        <li>2. genial!</li>
      </ul> -->
      <br />


      <input type="text" required [(ngModel)]="newName">
      <button (click)="addName()">Add name</button>
      <ul>
        <li *ngIf="names.length === 0">NO HAY NOMBRES</li>
        <li *ngFor="let name of names; index as i">
          {{i}}
          {{name}}
          <button (click)="deleteName(i)">Delete</button>
        </li>
      </ul>


      <hr />


      <h2>*ngFor para arrays</h2>
      <p>
        Puedes utilizar *ngFor para iterar y mostrar cada propiedad de un objeto. Considera que en el componente tienes
        un array de objetos que representan a una persona:
      </p>
      <!-- @Component({
      selector: 'app-root',
      templateUrl: './app.component.html',
      styleUrls: ['./app.component.scss']
      })
      export class AppComponent {
      peopleArray = [
      {
      firstname: 'Freddy',
      lastname: 'Vega',
      age: 35
      },
      {
      firstname: 'Nicolas',
      lastname: 'Molina',
      age: 29
      },
      {
      firstname: 'Ángela',
      lastname: 'Ocando',
      age: 30
      }
      ];
      } -->
      <p>Itera este array en el HTML e imprimimos el valor de cada propiedad de la siguiente manera:</p>
      <!-- <ul *ngFor="let person of peopleArray">
        <li>Nombre: {{ person.firstname }}</li>
        <li>Apellido: {{ person.lastname }}</li>
        <li>Edad: {{ person.age }}</li>
      </ul> -->
      <p>La variable person guarda temporalmente el objeto en cada iteración, pudiendo acceder a cada valor usando un
        punto seguido del nombre de la propiedad.</p>
      <br />
      <h2>Tipado de objetos con interfaces</h2>
      <p>El array peopleArray puede contener cualquier cosa, y puede ocasionar comportamientos indeseados en tu
        aplicación. Puedes crear una interfaz de Personas para tipar los objetos del array y asegurar que todos tengas
        las mismas propiedades.</p>
      <!-- interface Person {
      firstname: string;
      lastname: string;
      age: number
      } -->
      <p>Tipando el array de la siguiente manera para indicar que el array es de objetos del tipo Persona:</p>
      <!-- peopleArray: Person[] = [
      {
      firstname: 'Freddy',
      lastname: 'Vega',
      age: 35
      },
      ...
      ] -->
      <br />

      <div>
        <div *ngFor="let product of products">
          <img class="product-image" [src]="product.image">
          <h2>${{product.price}}</h2>
          <p>{{product.name}}</p>
        </div>
      </div>


      <hr />


      <h2>Uso de ngSwitch</h2>
      <p>
        Angular también ofrece la sentencia *ngSwitch y *ngSwitchCase para determinar el flujo de control de tu
        aplicación y qué elemento mostrar entre multiples elementos HTML. Además de utilizar un elemento default con
        *ngSwitchDefault en caso de que ninguna condición se cumpla.
      </p>
      <!-- @Component({
      selector: 'app-root',
      templateUrl: './app.component.html',
      styleUrls: ['./app.component.scss']
      })
      export class AppComponent {
      color: string = 'verde';
      } -->
      <h2>Ejemplo de ngSwitchCase</h2>
      <!-- <div [ngSwitch]="color">
        <p *ngSwitchCase="'azul'">
          El color el Azul
        </p>
        <p *ngSwitchCase="'verde'">
          El color el Verde
        </p>
        <p *ngSwitchCase="'rojo'">
          El color el Rojo
        </p>
        <p *ngSwitchDefault>
          No hay ningún color
        </p>
      </div> -->
      <br />

      <input type="text" required [(ngModel)]="person.name" />
      <div [ngSwitch]="person.name">
        <p *ngSwitchCase="'gaston'">
          Tu eres Gaston
        </p>

        <p *ngSwitchCase="'blanquita'">
          Tu eres la ultima de la manada
        </p>

        <p *ngSwitchCase="'cristian'">
          Tu eres el mas chico de la familia
        </p>

        <p *ngSwitchCase="'lucca'">
          Tu tienes los ojos verdes
        </p>

        <p *ngSwitchDefault>No coincide con ningun nombre de la lista</p>
      </div>
      <br />


      <hr />


      <h2>Angular Devtools</h2>
      <p>Angular DevTools es una herramienta complementaria para enriquecer tu experiencia de desarrollo en Angular
        permitiendo la depuración y el debugging de tu aplicación.</p>
      <p>Solo tienes que instalar la extensión del navegador para Google Chrome.</p>
      <p>Gracias a estas herramientas, podrás desarrollar y resolver bug más rápido, inspeccionar el valor de las
        propiedades de tu componente y detectar cuando el usuario realiza alguna acción y se lanza un evento.</p>

      <h2>Otras extensiónes para Angular</h2>
      <p>También puedes explorar la extensión Augury, una alternativa tanto para Google Chrome como para Mozilla
        Firefox.</p>
      <p>TIP: Solo puedes utilizar estas extensiones en un ambiente de desarrollo, no funcionan en producción.</p>
      <br />


      <hr />


      <h2>Estilos a la lista de productos</h2>
      <p>En el decorador de tu componente, verás la propiedad styleUrls donde se hace referencia a la hoja de estilos
        que el componente utiliza.</p>
      <!-- @Component({
      selector: 'app-root',
      templateUrl: './app.component.html',
      styleUrls: ['./app.component.scss']
      })
      export class AppComponent {
      ...
      } -->
      <p>En este archivo puedes escribir todo el código CSS que tu componente necesita. Por ejemplo, si escogiste SCSS:
      </p>
      <!-- div {
      margin: 15px;
      h1 {
      font-family: Arial;
      font-size: 22px;
      font-weight: bold;
      }
      p {
      font-family: Arial;
      font-size: 18px;
      padding-bottom: 10px;
      }
      } -->
      <h2>Preprocesadores de CSS</h2>
      <p>Dependiendo el preprocesador que hayas elegido, tus hojas de estilos tendrán una extensión u otra. A excepción
        de .css si no escogiste utilizar un preprocesador.</p>
      <p>SCSS(.scss), SASS(.sass), LESS(.less), NINGUNA(.css)</p>
      <p>TIP: Para escojer otro preprocesador, puedes realizar este cambio manualmente en el archivo ‘angular.json’ en
        la raíz de tu proyecto</p>
      <br />

      <div class="products--grid">
        <div *ngFor="let product of products">
          <img [src]="product.image">
          <h2>${{product.price}}</h2>
          <p>{{product.name}}</p>
        </div>
      </div>
      <br />


      <hr />


      <h2>Class binding</h2>
      <p>La versatilidad de Angular te permite agregar o quitar clases y estilos a tus elementos HTML a partir de
        condicionantes. Así como anteriormente utilizaste los corchetes [] para bindear atributos como el [src] de una
        imagen o el [href] de un enlace, puedes bindear clases para que Angular las agregue o quite dinámicamente si se
        cumple una condición de la siguiente manera:</p>

      <!-- <div [class.active-color]="isActive">
      </div> -->

      <p>Imagina que tienes en tu componente una propiedad llamada isActive que agregará la clase active-color si esta
        es verdadera o quitará la clase si es falsa. Luego ya puedes darle los estilos que más te gusten al elemento
        HTML en tu hoja de estilos utilizando la clase active-color.</p>

      <h2>Style binding</h2>
      <p>También puedes añadir estilos inline a los elementos HTML bindeando la propiedad [style] seguido de la
        propiedad CSS que quieres modificar dinámicamente:</p>

      <!-- <p [style.color]="isActive ? 'blue' : 'red'"></p> -->

      <p>A partir del valor de isActive, dependiendo si este es verdadero o falso, puedes emplear un operador ternario
        para cambiar el color del párrafo.</p>
      <br />

      <input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name" />
      <p class="message-error" [class.invalid]="nameInput2.invalid">
        El campo es requerido
      </p>
      <label>Nombre</label>
      <input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name" />
      <p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">Texto Texto Texto</p>
      <br />

      <div class="style-width-img">
        <div>
          <input type="text" [(ngModel)]="widthImg" />
        </div>
        <div>
          <img [style.width.px]="widthImg" src={{img}} />
        </div>
      </div>
      <br />


      <hr />


      <h2>NgClass y NgStyle</h2>
      <p>Con el binding de [class] y [style] puedes agregar clases y estilos fácilmente. Pero se vuelve algo complicado
        en el caso de que necesites agregar varias clases o modificar muchos estilos. Es por esto que Angular ofrece las
        directivas ngClass y ngStyle para este propósito.</p>
      <p>Puedes bindear la directiva [ngStyle] o [ngClass] y pasarle un objeto con cada propiedad o clase que deseas
        agregar:</p>
      <!-- <p [ngStyle]="{
        'color': textColor,
        'background': textBackground
    }">
      </p> -->
      <p>El operador ternario será tu mejor aliado para agregar o quitar clases y estilos:</p>
      <!-- <div [ngClass]="isAvailable ? 'active-class' : 'deactivate-class'"></div> -->
      <p>O puedes usar las Interpolaciones en lugar del binding:</p>
      <!-- <p ngClass="{{ isAvailable ? 'active-class' : 'deactivate-class' }}"></p> -->
      <br />

      <input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name" />
      <hr class="line-error" [ngClass]="{
        'valid': nameInput4.valid,
        'invalid': nameInput4.invalid
      }" />
      <p class="message-error" [class.invalid]="nameInput4.invalid">
        El campo es requerido
      </p>
      <br />

      <div class="style-width-img">
        <div>
          <input type="number" [(ngModel)]="box.width" />
          <input type="number" [(ngModel)]="box.height" />
          <input type="color" [(ngModel)]="box.background" />
        </div>
        <div>
          <div [ngStyle]="{
            'width.px': box.width,
            'height.px': box.height,
            'background-color': box.background,
            'display': 'block'
          }">
          </div>
        </div>
      </div>
      <br />


      <hr />


      <h2>Crear un formulario</h2>
      <p>Conociendo la directiva [(ngModel)] que nos facilita el intercambio de datos de forma bidireccional entre la
        vista y el componente, puedes crear tu primer formulario apoyándote de esta directiva y de otras características
        propias de Angular para el manejo y validación de formularios.</p>

      <h3>Paso 1</h3>
      <p>Crea un simple formulario de Login en el HTML y las variables en el componente para capturar los valores de los
        campos con ngModel:</p>
      <!-- @Component({
      selector: 'app-root',
      templateUrl: './app.component.html',
      styleUrls: ['./app.component.scss']
      })
      export class AppComponent {
      form = {
      email: '',
      password = ''
      };
      } -->

      <!-- <form>
        <div>
          <label></label>
          <input name="email" type="email" [(ngModel)]="form.email" required />
        </div>
        <div>
          <label></label>
          <input name="password" type="password" [(ngModel)]="form.password" required />
        </div>
        <div>
          <button type="submit">Iniciar sesión</button>
        </div>
      </form> -->

      <h3>Paso 2</h3>
      <p>Agregale al componente un método que responda al evento del envío del formulario llamado submitLogin(). Puedes
        enlazar este método al formulario con la directiva (ngSubmit) que va colocada en la etiqueta "form" junto con
        una variable de template para ponerle un nombre al formulario como por ejemplo
        #formLogin="ngForm". Tienes que igualar el nombre de tu variable a ngForm para que Angular reconozca que se
        trata de un formulario.</p>
      <!-- @Component({
selector: 'app-root',
templateUrl: './app.component.html',
styleUrls: ['./app.component.scss']
})
export class AppComponent {
form = {
email: '',
password = ''
};
submitLogin() {
// Login del usuario
}
} -->

      <!-- <form (ngSubmit)="submitLogin()" #formLogin="ngForm">
  <div>
    <label></label>
    <input name="email" type="email" [(ngModel)]="form.email" required />
  </div>
  <div>
    <label></label>
    <input name="password" type="password" [(ngModel)]="form.password" required />
  </div>
  <div>
    <button type="submit">Iniciar sesión</button>
  </div>
</form> -->

      <h3>Paso 3</h3>
      <p>Finalmente, gracias a esta conexión de tu formulario con el componente, se activará el método submitLogin() al
        hacer
        clic en el botón. Para validar tu formulario, utiliza la variable de template para imprimir un mensaje de error
        en
        pantalla o deshabilitar el botón de envío de la siguiente manera:</p>
      <!-- ...
<div>
  <button [disabled]="formLogin.invalid" type="submit">Iniciar sesión</button>
</div>
... -->
<br/>

<h1>FORMULARIO</h1>
<form>
  
</form>
